.footer {
    margin: 0px  0px 26px 410px;

    font-size: 11px;
    font-weight: 400;
}

.footer a{
    color: #2C2C2C;
    text-decoration: underline;
}

@media (max-width: 965px){
    .number-section, 
    .infoblocks,
    .footer{
        margin-left: 130px;
    }
}


@media (max-width: 480px){
    .number-section,
    .infoblocks{
        margin-left: 15px;
    }

    .footer {
        margin-left: 0px;

        text-align: center;
        font-size: 10px;
    }
}

@media (max-width: 370px){
    .footer{
        text-align: center;
        font-size: 9px;
    }

    .footer span {
        display: block;
       
    }
}