.header {
    display: flex;
    align-items: center;
    margin-left: 410px;
    padding: 5px 0px 65px 0px;

    font-size: 15px;
    font-weight: 500;
}

.header-title {
    font-size: 35px;
    font-weight: 700;
}

.header-navlist {
    display: flex;
    
    margin-left: 46px;

    border: 1px solid #CAD5DA;
    border-radius: 5px;
}

.header-navlist-link {
    display: block;
    padding: 6px 25px;
}

.header-navlist-link:hover{
    color:#FFF;
    opacity: 1;
}

.header-navlist-item:hover {
    margin: -5px -4px;
    padding: 5px 4px;

    background: linear-gradient(to bottom, rgba(3,239,254,1) 0%, rgba(79,172,254,1) 100%);
    border-radius: 5px;
}

.header-navlist-item .active {
    margin: -11px -25px;
    padding: 11px 25px;

    background: linear-gradient(to bottom, rgba(3,239,254,1) 0%, rgba(79,172,254,1) 100%);
    opacity: 1;

    border-radius: 5px;
}

.header-navlist-link .active {
    color:#EEE;
}
.header-small-lines {
    position: relative;
    padding: 5px 8px;
    margin: 0px 18px 0px 0px;

    border: none;
    border-top: 2px solid #26bcb3;
    border-bottom: 2px solid #26bcb3;
}

.header-small-lines:after {
    content: '';
    display: block;
    width: 10px;

    border-top: 1px solid #26bcb3;
    border-bottom: 1px solid #26bcb3;

    position: absolute;
    left: 0;
    top: calc( 50% - 1px );
}

.header-small-lines:hover:after {
    left: 7px;
}

@media (max-width: 1300px){
    .header{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}



@media (max-width: 1100px){
    .header-navlist{
        margin-left: 0px;
    }
}

@media (max-width: 965px) {
    .header {
        margin-left: 130px;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 150px;
    }

    .header nav{
        margin-bottom: 30px;
    }

    .hedear-navlist-link {
        padding: 6px 20px;
    }

    .header-small-lines {
        display:none;
    }
}

@media (max-width: 760px){

    .header{
        padding: 5px 0px 30px 0px;

        font-size: 13px;
    }

    .header-navlist-link{
        padding: 5px 10px;
    }

    .header-navlist-item:hover {
        margin: -5px 0px;
        padding: 5px 0px;
        
        }
    
    .header-navlist-item .active{
        margin: -10px -10px;
        padding: 10px 10px;
        }

}

@media (max-width: 480px){

    .header{
        margin-top: 80px;
        align-items: flex-start;
        padding: 5px 0px 21px 0px;
        margin-left: 40px;
    }

    .header nav {
        font-size: 10px;
    }

    .number-section{
        margin-left: 0px;
    }

  

    .header-small-lines {
        display: block;
        
        position: fixed;
        top: 35px;
        left: 15px;
        z-index: 10;

        border-bottom: 2px solid #FFF;
        border-top: 2px solid #FFF;
    }

    .header-small-lines:after{
        border-bottom: 1px solid #FFF;
        border-top: 1px solid #FFF;
    }
}

@media (max-width: 370px){
    .header-title {
        font-size: 15px;
    }

    .header{
        margin-left: 15px;
    }

    .header nav{
        width: 100%;
        margin-bottom: 0px;
    }

    .header-navlist {
        font-size: 10px;
        width: 100%;
        margin-left: -10px;
    }


    .header-navlist-link {
    padding: 5px 10px;
    }

    .header-navlist-item:hover {
    margin: -5px 0px;
    padding: 5px 0px;
    
    }

    .header-navlist-item .active{
    margin: -10px -16px;
    padding: 10px 16px;

    }
}

@media print {
     body {   
        font: 14px/1.3 Arial, sans-serif;
        color: #000 !important;
        background: none !important;
    }  
    
    *{  
        color: #000 !important;
        background: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }  
    
    a[href]:after {   
        content: " (" attr(href) ")";  
    }  
    
    *:before,  
    *:after,  
    .sidebar,  
    .dropdown,
    .footer,  
    .popup {   
        display: none !important;
    }  
    
    h1, h2, h3, h4, h5,  .infoblock-header{   
        page-break-after: avoid;
    }

    .header,
    .number-section,
    .infoblocks {
        margin-left: 0px;
        padding-bottom: 30px;
        color: red;
    }
    
    .number-block {
        width: 45%;
    }

    
}



