@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?rao4ir');
    src:  url('../fonts/icomoon.eot?rao4ir#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?rao4ir') format('truetype'),
      url('../fonts/icomoon.woff?rao4ir') format('woff'),
      url('../fonts/icomoon.svg?rao4ir#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-facebook:before {
    content: "\e900";
  }
  .icon-flag:before {
    content: "\e901";
  }
  .icon-group:before {
    content: "\e902";
  }
  .icon-search:before {
    content: "\e903";
  }
  .icon-settings:before {
    content: "\e904";
  }
  .icon-share:before {
    content: "\e905";
  }
  .icon-twitter:before {
    content: "\e906";
  }
  .icon-youtube:before {
    content: "\e907";
  }
  .icon-broken-link:before {
    content: "\e908";
  }
  .icon-dashboard:before {
    content: "\e909";
  }
  .icon-download:before {
    content: "\e90a";
  }