.number-section {
    margin-left: 410px;
    display: flex;
    justify-content: center;
    padding-bottom: 70px;
}

.number-block {
    font-family: 'Roboto', Arial, sans-serif;
    padding-left: 30px;
    width: 340px;
    border-left: 1px solid #CAD5DA;
    margin-bottom: 25px;
}

.number-description{
    display: flex;
}

.number-description {
    width: 100%;
}

.number-title {
    display: flex;
    font-size: 100px;
    font-weight: 700;
}
.number-title p {
    margin: 0;
}

.sub-title-wrapper{
    margin: 38px 0px 0px 10px;
}

.number-sub-title{
    display: flex;
    font-size: 18px;
    font-weight: 700;

}

.number-sub-title p{
    font-size: 15px;
    color: #7B8180;
    font-weight: 500;
    font-family: 'Raleway', Arial, sans-serif;

    margin-left: 7px;
}

.number-description {
    font-size:  20px;
    font-weight: 500;
}

.number-description p {
    text-transform: uppercase;
    color:#2C2C2C;
}

.first-number, .first-number a {
    color: #34FFF3;
}

.second-number, .second-number a {
    color: #5CE5DD;
}

.third-number, .third-number a {
    color: #37D3CA;
}

.fourth-number, .fourth-number a{
    color: #26BCB3;
}

.icon {
    margin-right: 8px;
}

.block-navlist {
    display: flex;
    
    margin-left: 46px;

    border: 1px solid #CAD5DA;
    border-radius: 5px;
}

.block-navlist-link {
    display: block;
    padding: 6px 25px;
}

.block-navlist-link:hover{
    color:#FFF;
    opacity: 1;
}

.block-navlist-item:hover {
    margin: -5px -4px;
    padding: 5px 4px;

    background: linear-gradient(to bottom, rgba(3,239,254,1) 0%, rgba(79,172,254,1) 100%);
    border-radius: 5px;
}

.block-navlist-item .active{
    margin: -11px -25px;
    padding: 11px 25px;

    background: linear-gradient(to bottom, rgba(3,239,254,1) 0%, rgba(79,172,254,1) 100%);
    opacity: 1;

    border-radius: 5px;
}

.block-navlist-item .active {
    color:#EEE;
}

.infoblocks {
    margin-left: 410px;

    display: flex;
    flex-wrap: wrap;
}

.infoblock-header{
    margin-bottom: 52px;
}

.infoblock{
    box-shadow: 2px 2px 12px 0px #CAD5DA;
    color: #2C2C2C;

    padding: 30px;
    margin: 0px 50px 90px 0px;
    width: 40%;

    overflow: auto;
}

.infoblock-main {
    display: flex;
}

.infoblock-img {
    margin-right: 25px;
}

.infoblock-title{
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
}

.infoblock-subtitle{
    font-weight: 700;
    font-size: 20px;
}

.infoblock-textpart{
    height: 320px;
    overflow: auto;
}

.infoblock-list {
    list-style-type: disc ;
    color: #5CE5DD;
}

.infoblock-list span {
    color: #7B8180;
    font-size: 15px;
    font-weight: 400;
}



.infoblock-list li {
    margin-bottom: 30px;
}

.block-navlist{
    display: flex;
    
}

.infoblock-header{
    display: flex;
}

@media (max-width: 1535px){
    .number-section {
        flex-wrap: wrap;
    }

    .number-block{
        width: 40%;
    }

    .infoblocks {
        justify-content: center;
    }

    .infoblock{
        padding: 30px;
        margin: 0px 50px 90px 0px;
        width: 70%;
    
        overflow: auto;
    }

    .infoblock-textpart {
        height: auto;
        overflow: visible;
    }
}

@media (max-width: 1100px){
    .infoblock-main{
        flex-wrap: wrap;
        justify-content: center;
    }

    .number-sub-title, .number-sub-title p{
        display: block;

        margin-left: 0px;
    }

    .diagram-img {
        width: 100%;
    }

    .sub-title-wrapper{
        margin: 12px 0px 0px 10px;
    }
}

@media (max-width: 965px) {

    .number-section, 
    .infoblocks,
    .footer{
        margin-left: 130px;
    }

    .header{
        padding-bottom: 40px;
    }

    .header h1 {
        margin-bottom: 10px;
    }

    .infoblock{
        margin: 0px 0px 40px 0px;
    }

    .infoblock-textpart {
        margin: 0px 20px;
    }

    .block-navlist {
        font-size: 18px;
    }

    .block-navlist-link {
    padding: 5px 20px;
    }

    .block-navlist-item:hover {
    margin: -4px 0px;
    padding: 4px 0px;
    
    }

    .block-navlist-item .active{
    margin: -9px -20px;
    padding: 9px 20px;

    }
}

@media (max-width: 760px){
    .number-block {
        width: 40%;
    }

    .infoblock-title, .infoblock-subtitle {
        font-size: 18px;
    }

    .infoblock-list span{
        font-size: 13px;
    }

    .diagram-img, .healthcare-img{
        width: 100%;
        height: auto;  
    }

    .number-sub-title, .number-sub-title p{
        display: block;
       
        font-size: 10px;

        margin-left: 0px;
    }

    .sub-title-wrapper{
        margin: 12px 0px 0px 10px;
    }

    .number-block {
        padding-left: 15px;
    }

    
    .number-title {
        font-size: 65px;
    }

    .number-section{
        padding-bottom: 40px
    }

    .number-description {
        font-size: 14px;
    }

    .number-sub-title, .number-sub-title p{
        font-size: 12px;
    }

    .block-navlist {
        font-size: 13px;
    }

    .block-navlist-link {
    padding: 5px 9px;
    }

    .block-navlist-item:hover {
    margin: -4px 0px;
    padding: 4px 0px;
    
    }

    .block-navlist-item .active{
    margin: -9px -9px;
    padding: 9px 9px;

    }
}

@media (max-width: 480px){

    .header {
        margin-top: 54px;
        padding-bottom: 0px;
    }

    .header-title{
        font-size: 28px;
    }

    .header-small-lines {
        top: 18px;
    }
    .infoblock-img {
        height: auto;
        width: 100%;
        max-width: 200px;
    }

    .number-sub-title, .number-sub-title p{
        display: block;
        padding-right: 30px;
    }

    .number-block{
        border-left: none;
        padding: 0px 40px 0px 0px;
        margin: 0px 23px 0px 0px;

        width: 25%;
    }

    .infoblock-header {
        flex-wrap:wrap;
        justify-content: flex-start;
    }


    .infoblock-textpart {
        height: auto;
        overflow: visible;
    }

    .sidebar{
        background: linear-gradient(to bottom, rgba(72,158,152,1) 0%, rgba(2,74,68,1) 100%);
    }

    .block-navlist {
        font-size: 10px;
        margin-left: 0px;
    }

    .block-navlist-link {
    padding: 5px 10px;
    }

    .block-navlist-item:hover {
    margin: -4px 0px;
    padding: 4px 0px;
    
    }

    .block-navlist-item .active{
    margin: -9px -12px;
    padding: 9px 12px;

    }


}

@media (max-width: 370px){
    .header-navlist {
        padding: 0px 0px;
    }



    .number-title {
        font-size: 56px;
    }

    .number-section {
        margin-left: 18px;
    }

    .number-description {
        font-size: 11px;
    }

    .number-sub-title, .number-sub-title p{
        display: block;
       
        font-size: 10px;

        margin-left: 0px;
    }

    .sub-title-wrapper{
        margin: 12px 0px 0px 10px;
    }

    .number-block{
        border-left: none;
        padding: 0px 40px 0px 0px;
        margin: 0px 23px 0px 0px;
    }

    .first-number, .third-number {
        width: 20%;
    }

    .second-number, .fourth-number {
        width: 33%;
    }

    .infoblock-title, 
    .infoblock-subtitle {
        font-size: 18px;
    }

    .infoblocks {
        width: 100%;
        justify-content: center;
    }

    .infoblock{
        width: 80%;
        overflow: auto;
        margin: 0px 0px 25px 0px;
    }
    
    .infoblock-list span{
        font-size: 12px;
    }

    .infoblock-header {
        flex-wrap:wrap;
        justify-content: flex-start;
        margin-left: 0px;
        margin-bottom: 52px;
    }

    .block-navlist {
        font-size: 10px;
        margin-left: 0px;
    }

    .block-navlist-link {
    padding: 5px 10px;
    }

    .block-navlist-item:hover {
    margin: -4px 0px;
    padding: 4px 0px;
    
    }

    .block-navlist-item .active{
    margin: -9px -12px;
    padding: 9px 12px;

    }

    .infoblocks, .number-section{
        margin-left: 7px;
    }

  

}