input[type="text"],
input[type="file"],
input[type="password"],
input[type="submit"],
input[type="email"],
input[type="tel"],
input[type="url"],
textarea {
	-webkit-border-radius: 0;
	-webkit-appearance: none;
	border-radius:0;
}
input[type="email"]{
	box-shadow: none;
	-webkit-box-shadow:none;
}
input[type="image"] {padding: 0; border: none;}
input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
button::-moz-focus-inner {
	border:0;
	padding:0;
}
input[type="submit"]:focus,
input[type="button"]:focus {outline:none;}

body {
	margin: 0;
	color: #555050;
    box-sizing: border-box;
	font: 16px/1.25 'Raleway', Arial, sans-serif;
	background: #fff;
    box-sizing: border-box;

	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: none;
	-webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: #7B8180;
}

a:hover {
    opacity: 0.75;
}

p{
	margin: 0 0 15px;
}

.wrapper {
	width: 100%;
	overflow: hidden;
	position: relative;
}

ul {
    list-style: none;
    padding: 0px;
}
