.sidebar {
    color: #9FBCBA;
    background: linear-gradient(to bottom, rgba(72,158,152,1) 0%, rgba(39,103,99,1) 49%, rgba(1,39,36,1) 100%);

    width: 350px;
    min-height: 100vh;
    
    position: relative;
}

.sidebar-wrapper {
    position: fixed;
    top: 0px;
    left: 0px;
}

.logo {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    
    padding-top: 20px;
}

.logo-img-min{
    position: absolute;
    visibility: hidden;
}

.user-link{
    color: #FFF;
}

.user-card{
    text-align: center;
    position: relative;
    width: calc(100% - 8px)
}


.user-photo {
    margin-bottom: -30px;
}

.user-settings{
    position: absolute;
    bottom: 33px;
    left: 190px;
    
    width: 25px;
    height: 25px;
    background: linear-gradient(to bottom, rgba(3,239,254,1) 0%, rgba(79,172,254,1) 100%);
    border-radius: 50%;
}

.user-settings-img{
    margin-top: 5px;
}

.user-name {
    font-weight: 700;
}

.sidebar-navlist-item{
    font-size: 15px;
    margin: 10px 0px;
}

.sidebar-navlist-item.user-card{
    margin-bottom: 124px;
}

.sidebar-navlist-item:hover{
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255, 0.1) 49%,rgba(255,255,255, 0.25) 100%);
    border-right: 8px solid;
    border-image: linear-gradient(180deg, #03EFFE, #4FACFE) 1 100%;
}

.sidebar-navlist-item.user-card:hover{
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255, 0.1) 49%,rgba(255,255,255, 0.25) 100%);
    border-right: 8px solid;
    border-image: linear-gradient(180deg, #03EFFE, #4FACFE) 1 100%;
}

.sidebar-navlist-link:hover{
    color: #FFF;
}

.sidebar-navlist-item.sidebar-active {
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255, 0.1) 49%,rgba(255,255,255, 0.25) 100%);
    border-right: 8px solid;
    border-image: linear-gradient(180deg, #03EFFE, #4FACFE) 1 100%;
}

.sidebar-navlist-link.sidebar-link-active{
    color: #FFF;
}

.nav-icon{
    margin: 0px 30px 0px 50px;
    width: 20px;
}

.sidebar-navlist-link {
    text-transform: uppercase;
    font-weight: 700;
    color:#9FBCBA;

    display: inline-block;
    width: 60%;
    padding: 16px 0px;
}

.social-list {
    display: flex;
    justify-content: center;
    

    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 100px;
}

.social-link:hover {
    filter: grayscale(100%);
}

.social-icon{
    font-size: 30px;
}

.social-icon:hover {
    color:#EEE;
    opacity: 1;
}

.middle {
    margin: 0px 20px;
}

.logout {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;

    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #51726F;
    background: inherit;
    
    padding: 15px 0px;
    border: none;
    border-top: 1px solid #51726F;
}

.logout:hover {
    color: #FFF;
}

@media (max-width: 965px){
    .sidebar {
        width: 100px;
    }

    .user-photo-img{
        width: 85px;
        height: 85px;
    }

    .logo-img{
        position: absolute;
        visibility: hidden;
        
    }

    .logo-img-min{
        visibility: visible;
        position: static;
        margin-left: -5px;
        height: 40px;
        margin-top: 10px;
    }
    
    .user-name {
        visibility: hidden;
    }

    .user-settings{
        width: 15px;
        height: 15px;

        left: 55px;
        bottom: 30px;
    }

    .user-settings-img {
        margin: 1px;
        width: 10px;
        height: 10px;
    }

    .sidebar-navlist{
        text-align: center;
    }

    .sidebar-navlist-item {
        width: calc(100% - 8px);
        text-align: center;
    }

    .sidebar-navlist-link{
        padding: 0px 0px;
        visibility: hidden;
        width: calc(100% - 8px)
    }
    
    .nav-icon {
        margin: 16px 0px;
        visibility: visible;
        width: 21px;
    }

    .social-list{
        flex-direction: column;
        align-items: center;
    }

    .social-link {
        margin-bottom: 10px;
    }

    .logout{
        font-size: 15px;
    }
}

@media (max-width: 480px){
    .sidebar{
        width: 100%;
        min-height: 30px;
    }

    .logo{
        padding-top: 0px;
    }

    .logo-img{
        position: static;
        visibility: visible;
        top: 25px;
        bottom: 25px;

        width:67px;
        height: auto;
    }

    .logo-img-min{
        visibility: hidden;
        position: absolute;
        
    }

    .sidebar-wrapper {
        width: 100%;
    }

    .sidebar-nav, .sidebar-footer{
        display:none;
    }
}

